.p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -1%;
  display: flex;
  align-items: center;
}
.pSmall {
  font-size: 12px;
  line-height: 16px;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
