.title {
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.titleSmall {
  font-size: 14px;
  line-height: 20px;
}
.icon {
  position: relative;
  margin-right: 5px;
}
