.title {
  font-size: 20px;
  margin-bottom: 15px;
}

.salary {
  position: relative;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  width: 550px;
}

.salaryHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.001);
  backdrop-filter: blur(30px);
  gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.exit {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.selectSection {
  position: relative;
  padding: 15px;
}
.select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.right {
  display: flex;
}
.tag {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 153, 102);
  background: rgba(0, 153, 102, 0.2);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px 7px;
  border-radius: 4px;
  margin-right: 15px;
  width: fit-content;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.priceTitle {
  font-size: 30px;
  line-height: 36px;
  color: #dc6da5;
  font-weight: 600;
}

.range {
  padding: 15px;
  position: relative;
}
.items {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 30px;
}
.items span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-transform: uppercase;
}
.rangeSlider {
  position: relative;
  padding: 0 30px;
  height: 12px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.center {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translateX(50% - 12px);
}
.rangeActive {
  position: relative;
  height: 100%;
  background: rgba(220, 109, 165, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.indicator {
  display: flex;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #dc6da5;
}
.indicatorValue {
  background: #dc6da5;
  position: absolute;
  bottom: calc(100% + 10px);
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 2px 5px;
  border-radius: 2px;
  color: #fff;
}

.factors {
  padding: 0 15px 15px 15px;
  position: relative;
}
.infos {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}
.info {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  line-height: 20px;
}
.info svg {
  margin-right: 5px;
}

.emptySection {
  position: relative;
  padding-bottom: 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.emptyImage {
  width: 256px;
  position: relative;
}
.emptyImage img {
  width: 100%;
}

.refreshBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(200px);
  border-radius: 4px;
  cursor: pointer;
}
.refreshBtn svg {
  margin-right: 5px;
}
.p {
  width: 80%;
  margin: 10px 0;
}

.fixButtons {
  display: flex;
  position: fixed;
  right: 0;
  top: 50px;
  background: #fff;
  z-index: 9999;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
}
.active {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
