.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
  background-color: white;
}

.links {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: solid black;
}
.active {
  color: blueviolet;
  border-bottom: solid blue;
}
